<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container">
    <div th:if="${session.loginMember != null}">
        <span>학번 : </span>
        <span th:text="${session.loginMember.id}"></span>
        <span>이름: </span>
        <span th:text="${session.loginMember.name}"></span>
        <span>학과: </span>
        <span th:text="${session.loginMember.department}"></span>
        <span>학년: </span>
        <span th:text="${session.loginMember.grade}"></span>
        <span>최소수강신청학점: </span>
        <span th:text="${session.loginMember.maxCredits}"></span>
        <span>최대수강신청학점: </span>
        <span th:text="${session.loginMember.minCredits}"></span>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>교과목명</th>
                <th>학수번호</th>
                <th>이수구분</th>
                <th>분반</th>
                <th>학점</th>
                <th>담당교수</th>
                <th>수강인원</th>
                <th>제한인원</th>
                <th>강의실명</th>
                <th>강의시간</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="class : ${classes}">
                <td th:text="${class.id}"></td>
                <td th:text="${class.className}"></td>
                <td th:text="${class.division}"></td>
                <td th:text="${class.distribution}"></td>
                <td th:text="${class.credit}"></td>
                <td th:text="${class.professor}"></td>
                <td th:text="${class.curStudent}"></td>
                <td th:text="${class.maxStudent}"></td>
                <td th:text="${class.lectureRoom}"></td>
                <td th:text="${class.time}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form name="search-form" autocomplete="off">
            <input type="text" name="className" value=""></input>
            <input type="button" onclick="getSearchList()" class="btn btn-outline-primary mr-2" value="검색"></input>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>