header div {
    text-decoration: black;

}

.modal {
    overflow-y: auto;
}

.my-card {
    background-color: red !important;
}

#text-list span {
    display: block;
}

.spanlist {
    float: left;
    margin-left: 10px;
}

.aside1 {
    margin-top: 20px;
}

header {
    /*border: 1px solid red;*/
    height: 70px;
    background-color: rgba(173, 185, 255, 0.26);
}

section:nth-child(1) {
    /*border: 1px solid green;*/
    height: 450px;
    background-color: rgba(122, 180, 235, 0.15);
}

section:nth-child(2) {
    /*border: 1px solid black;*/
    height: 450px;
    background-color: rgba(122, 180, 235, 0.15);
}

/*장바구니 담긴 과목 텍스트 스타일 지정*/
.type-1 {
    font-weight: bold;
    font-size: 25px;
    text-decoration-line: underline;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 83, 0.67);
}

.type-2 {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
    text-align: right;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 83, 0.67);
}

.type-3 {
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 83, 0.67);
}

.type-4 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 83, 0.67);
}

.type-5 {
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 83, 0.67);
}

.type-6 {
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 83, 0.67);
}

#section-second div nav {
    margin-left: 235px;
}


.bluebox {
    border: dodgerblue 2px solid;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

header {
    height: 75px;
    padding: 1rem;
    color: white;
    background: teal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}